volumes:
  postgres_data:
    driver: local
services:
  postgres:
    env_file:
      - "./keycloak.env"
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
    healthcheck:
      test: "exit 0"
    ports:
      - 5432
    networks:
      - keycloak
  keycloak:
    env_file:
      - "./keycloak.env"
    image: quay.io/keycloak/keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_SCHEMA: public
    expose:
      - 8080
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - keycloak
