---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: transsetup
    app.kubernetes.io/version: "1.0"
  name: transsetup
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: transsetup
      app.kubernetes.io/version: "1.0"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: transsetup
        app.kubernetes.io/version: "1.0"
    spec:
      containers:
      - image: haugene/transmission-openvpn:5.3.2
        name: transmission-openvpn
        ports:
        - containerPort: 9091
          name: trans-web-ui
        volumeMounts:
        - mountPath: /data
          name: media-volume
        - mountPath: /etc/openvpn/custom/
          name: trans-vpn-vpc-volume
        - mountPath: /config
          name: trans-config-volume
        env:
        - name: OPENVPN_PROVIDER
          value: custom
        - name: OPENVPN_CONFIG
          value: node-nl.protonvpn.udp
        - name: OPENVPN_USERNAME
          valueFrom:
            secretKeyRef:
              key: user
              name: transmission-vpn
        - name: OPENVPN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: transmission-vpn
        - name: LOCAL_NETWORK
          value: 10.244.0.0/16
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
      - command:
        - /bin/sh
        - -c
        - sh /scripts/ipleak.sh
        image: curlimages/curl:8.17.0
        name: ipleak
        volumeMounts:
        - mountPath: /scripts/
          name: ip-leak-volume
      volumes:
      - name: trans-config-volume
        persistentVolumeClaim:
          claimName: trans-config-pvc
      - name: trans-vpn-vpc-volume
        persistentVolumeClaim:
          claimName: trans-vpn-pvc
      - name: media-volume
        persistentVolumeClaim:
          claimName: jellyfin-pvc
      - name: ip-leak-volume
        configMap:
          name: discord-bridge-configmap
          items:
          - key: ipleak.sh
            path: ipleak.sh
      - name: trans-vpn-volume
        secret:
          secretName: trans-config
          items:
          - key: vpn-config
            path: node-nl.protonvpn.udp.ovpn
          - key: rotate-script
            path: update-port.sh
