---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flood-config-pvc
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-local-v2
