---
apiVersion: v1
kind: ConfigMap
metadata:
  name: synapse-configmap
data:
  discord-registration.yaml: |
    id: discord
    url: http://discord-bridge.discord-bridge.svc.cluster.local:29334
    as_token: ${AS_TOKEN}
    hs_token: ${HS_TOKEN}
    sender_localpart: ${SENDER_LOCALPART}
    rate_limited: false
    namespaces:
      users:
        - regex: ^@discordbot:matrix\.cloud\.nathalie-stiefsohn\.eu$
          exclusive: true
        - regex: ^@discord_.*:matrix\.cloud\.nathalie-stiefsohn\.eu$
          exclusive: true
    de.sorunome.msc2409.push_ephemeral: true
    push_ephemeral: true
  homeserver.yaml: |
    server_name: "matrix.cloud.nathalie-stiefsohn.eu"
    pid_file: /data/homeserver.pid
    listeners:
      - port: 8008
        tls: false
        type: http
        x_forwarded: true
        resources:
          - names: [client, federation]
            compress: false
    database:
      name: psycopg2
      args:
        user: ${POSTGRES_USERNAME}
        password: "${POSTGRES_PASSWORD}"
        dbname: ${POSTGRES_DB}
        host: ${POSTGRES_SERVER}
        cp_min: 5
        cp_max: 10
    log_config: "/data/matrix.cloud.nathalie-stiefsohn.eu.log.config"
    media_store_path: /data/media_store
    registration_shared_secret: "${REGISTRATION_SHARED_SECRET}"
    report_stats: true
    macaroon_secret_key: "${MACAROON_SECRET_KEY}"
    form_secret: "${FORM_SECRET}"
    signing_key_path: "/signing/matrix.cloud.nathalie-stiefsohn.eu.signing.key"
    trusted_key_servers:
      - server_name: "matrix.org"
    app_service_config_files:
      - /data/discord-registration.yaml
  matrix.cloud.nathalie-stiefsohn.eu.log.config: |-
    version: 1
    
    formatters:
      precise:
        
        format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'
        
    
    handlers:
    
    
      console:
        class: logging.StreamHandler
        formatter: precise
    
    loggers:
        # This is just here so we can leave loggers in the config regardless of whether
        # we configure other loggers below (avoid empty yaml dict error).
        _placeholder:
            level: "INFO"
    
        
        
        synapse.storage.SQL:
            # beware: increasing this to DEBUG will make synapse log sensitive
            # information such as access tokens.
            level: INFO
        
    
        
    
    root:
        level: INFO
    
    
        handlers: [console]
    
    
    disable_existing_loggers: false
