---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: synapse
    app.kubernetes.io/version: sha-8eb9d78
  name: synapse
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: synapse
  template:
    metadata:
      labels:
        app.kubernetes.io/name: synapse
        app.kubernetes.io/version: sha-8eb9d78
    spec:
      initContainers:
      - command:
        - /bin/sh
        - -c
        - |-
          apk update && apk add gettext;
          envsubst < /template/homeserver.yaml > /data/homeserver.yaml;
          envsubst < /template/discord-registration.yaml > /data/discord-registration.yaml;
          cp /template/matrix.cloud.nathalie-stiefsohn.eu.log.config /data;
          										
        image: alpine:latest
        name: config-init
        volumeMounts:
        - mountPath: /template
          name: config-volume
        - mountPath: /data
          name: data-volume
        env:
        - name: AS_TOKEN
          valueFrom:
            secretKeyRef:
              key: as_token
              name: discord-bridge-secret
        - name: HS_TOKEN
          valueFrom:
            secretKeyRef:
              key: hs_token
              name: discord-bridge-secret
        - name: SENDER_LOCALPART
          valueFrom:
            secretKeyRef:
              key: sender_localpart
              name: discord-bridge-secret
        - name: POSTGRES_SERVER
          value: matrix-pg-rw.matrix-pg-cluster.svc.cluster.local
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              key: username
              name: matrix-pg-creds-secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: matrix-pg-creds-secret
        - name: POSTGRES_DB
          value: synapse-db
        - name: REGISTRATION_SHARED_SECRET
          valueFrom:
            secretKeyRef:
              key: registration_shared_secret
              name: synpase-secret
        - name: MACAROON_SECRET_KEY
          valueFrom:
            secretKeyRef:
              key: macaroon_secret_key
              name: synpase-secret
        - name: FORM_SECRET
          valueFrom:
            secretKeyRef:
              key: form_secret
              name: synpase-secret
      containers:
      - image: ghcr.io/element-hq/synapse:sha-8eb9d78
        name: synapse
        ports:
        - containerPort: 8008
          name: synapse
        volumeMounts:
        - mountPath: /data
          name: data-volume
        - mountPath: /signing
          name: signing-key-volume
      volumes:
      - name: config-volume
        configMap:
          name: synapse-configmap
      - name: data-volume
        persistentVolumeClaim:
          claimName: synapse-data-pvc
      - name: signing-key-volume
        secret:
          secretName: synpase-secret
          items:
          - key: signing-key
            path: matrix.cloud.nathalie-stiefsohn.eu.signing.key
      securityContext:
        fsGroup: 991
      nodeSelector:
        kubernetes.io/hostname: debian
