---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: synapse
    app.kubernetes.io/version: sha-8eb9d78
  name: synapse
spec:
  selector:
    app.kubernetes.io/name: synapse
  ports:
  - name: http-synapse
    port: 8008
    targetPort: 8008
