ZITADEL_LOG_LEVEL=""
ZITADEL_MASTERKEY=""
ZITADEL_EXTERNALSECURE=""
ZITADEL_TLS_ENABLED=""
ZITADEL_EXTERNALPORT=""
ZITADEL_EXTERNALDOMAIN=""
ZITADEL_FIRSTINSTANCE_PATPATH=""
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME=""
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=""
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_PAT_SCOPES=""
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_PAT_EXPIRATIONDATE=""
ZITADEL_DATABASE_POSTGRES_HOST=""
ZITADEL_DATABASE_POSTGRES_PORT=""
ZITADEL_DATABASE_POSTGRES_DATABASE=""
ZITADEL_DATABASE_POSTGRES_USER_USERNAME=""
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=""
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=""
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=""
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=""
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=""
