jellyfin.cloud.nathalie-stiefsohn.eu {
    reverse_proxy jellyfin.cluster.cloud.nathalie-stiefsohn.eu {
        header_up Host {host}
        
    }
    tls {
        acme_dns hetzner <insert token here>
        propagation_delay 30s
    }    
}
