---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: stash
resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- scaled-object.yaml
- network-policy.yaml
- pvc.yaml
