db:
  dbname: invidious
  user: kemal
  password: kemal
  host: invidious-db
  port: 5432
check_tables: true
invidious_companion:
  - private_url: "http://companion:8282/companion"
invidious_companion_key: "CHANGE_ME!!"
hmac_key: "CHANGE_ME!!"
