---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector
data:
  agent.yaml: |
    api:
      enabled: false
    data_dir: /vector-data-dir
    # -------------------------------------------------
    # SOURCE - Kubernetes pod/container logs
    # -------------------------------------------------
    sources:
      k8s_in:
        auto_partial_merge: true
        delay_deletion_ms: 60000
        fingerprint_lines: 1
        glob_minimum_cooldown_ms: 60000
        ignore_older_secs: 600
        insert_namespace_fields: true
        self_node_name: ${VECTOR_SELF_NODE_NAME}
        timezone: local
        type: kubernetes_logs
    # -------------------------------------------------
    # TRANSFORMS - filter / sample / prune
    # -------------------------------------------------
    transforms:
      parse_json_message:
        type: remap
        inputs:
          - k8s_in
        source: |
          # Try parsing message as JSON
          parsed, err = parse_json(.message)
    
          if err == null && is_object(parsed) {
            # Merge parsed fields into root
            . = merge(., parsed)
    
            # Optional: keep original message
            .original_message = .message
    
            # Replace message with a readable string if present
            if exists(parsed.message) {
              .message = parsed.message
            }
          }
    
      drop_noisy_logs:
        type: filter
        inputs:
          - parse_json_message
        condition: |
          !(.kubernetes.container_name == "kube-proxy" || .kubernetes.container_name == "kube-apiserver" || .kubernetes.container_name == "coredns" && contains!(.message, "health"))
    
      normalize_level:
        type: remap
        inputs:
          - drop_noisy_logs
        source: |
          # Normalize log level from severity or level
          if exists(.severity) {
            .lvl = downcase!(.severity)
          }
          if exists(.level){
            .lvl = downcase!(.level)
          } 
          if !exists(.severity) && !exists(.level) {
            .lvl = ""
          }
    
          # Optional: map common variants
          if .lvl == "warn" { .lvl = "warning" }
          if .lvl == "err"  { .lvl = "error" }
    
      drop_debug_logs:
        type: filter
        inputs:
          - normalize_level
        condition: |
          !includes(["info", "debug"], .lvl) || .lvl != ""
    
      remove_k8s_noise:
        type: remap
        inputs:
          - drop_debug_logs
        source: |
          del(.kubernetes.node_labels)
          del(.kubernetes.annotations)
    
      normalize_logs:
        type: remap
        inputs:
          - remove_k8s_noise
        source: |
          # Rename message to short key
          .msg = .message
          del(.message)
    
          # Remove empty fields
          if is_null(.msg) { del(.msg) }
    
      truncate_messages:
        type: remap
        inputs:
          - normalize_logs
        source: |
          max_len = 2048
    
          msg = to_string(.msg) ?? null
          if msg != null && length!(msg) > max_len {
            .msg = truncate!(msg, max_len, "...Truncated")
          }
    
    # -------------------------------------------------
    # SINK - Elasticsearch
    # -------------------------------------------------
    sinks:
      es_cluster:
        api_version: auto
        auth:
          strategy: basic
          user: ${ELASTIC_USER}
          password: ${ELASTIC_PASSWORD}
        bulk:
          action: create
          index: vector-%Y-%m-%d
        compression: gzip
        doc_type: _doc
        endpoints:
          - http://elasticsearch-es-internal-http.elastic-stack.svc.cluster.local:9200
        inputs:
          - truncate_messages
        mode: bulk
        type: elasticsearch
