---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: transsetup
    app.kubernetes.io/version: "1.0"
  name: transsetup
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: transsetup
      app.kubernetes.io/version: "1.0"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: transsetup
        app.kubernetes.io/version: "1.0"
    spec:
      containers:
      - image: haugene/transmission-openvpn:5.3.2
        name: transmission-openvpn
        ports:
        - containerPort: 9091
          name: web-ui
        volumeMounts:
        - mountPath: /data
          name: media-volume
        - mountPath: /etc/openvpn/custom/
          name: trans-vpn-volume
        env:
        - name: OPENVPN_PROVIDER
          value: custom
        - name: OPENVPN_CONFIG
          value: node-nl.protonvpn.udp
        - name: OPENVPN_USERNAME
          valueFrom:
            secretKeyRef:
              key: user
              name: jellyfin-vpn
        - name: OPENVPN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: password
              name: jellyfin-vpn
        - name: LOCAL_NETWORK
          value: 10.0.0.0/24
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
      volumes:
      - name: media-volume
        persistentVolumeClaim:
          claimName: jellyfin-pvc
      - name: trans-vpn-volume
        secret:
          secretName: trans-config
          items:
          - key: vpn-config
            path: nl.protonvpn.udp.ovpn
          - key: rotate-script
            path: update-port.sh
