---
apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-configmap
data:
  Caddyfile: |-
    
    redlib.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy redlib.redlib.svc.cluster.local:8080 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    booklore.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy booklore.booklore.svc.cluster.local:6060 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    code.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy forgejo-http.forgejo.svc.cluster.local:3000 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    jellyfin.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy jellyfin.jellyfin.svc.cluster.local:8096 {
    		header_up Host {host}
    		
    	}
    	
    	@websockets {
    		header Connection *Upgrade*
    		header Upgrade    websocket
    	}
    	reverse_proxy @websockets jellyfin.jellyfin.svc.cluster.local:80 {
    		header_up Host {host}
    	}
    		
    }
    		
    searxng.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy searxng.searxng.svc.cluster.local:8080 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    matrix.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy synapse.synapse.svc.cluster.local:8008 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    vault.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy vault.vault.svc.cluster.local:8200 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    glance.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy glance.glance.svc.cluster.local:8080 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    mealie.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy mealie.mealie.svc.cluster.local:9000 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
    perses.cluster.cloud.nathalie-stiefsohn.eu:443 {
    	tls internal
    	reverse_proxy perses.perses.svc.cluster.local:8080 {
    		header_up Host {host}
    		
    	}
    	
    }
    		
