---
apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-configmap
data:
  Caddyfile: |-
    
    *.cloud.nathalie-stiefsohn.eu {	
    	tls {
            dns hetzner {$API_TOKEN}
            propagation_delay 30s
        }
    	
    	@svc0 host matrix.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc0 {
    		reverse_proxy synapse.synapse.svc.cluster.local:8008
    	} 
    		
    	@svc1 host transmission.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc1 {
    		reverse_proxy transmission.jellyfin.svc.cluster.local:3000
    	} 
    		
    	@svc2 host booklore.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc2 {
    		reverse_proxy booklore.booklore.svc.cluster.local:6060
    	} 
    		
    	@svc3 host code.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc3 {
    		reverse_proxy forgejo-http.forgejo.svc.cluster.local:3000
    	} 
    		
    	@svc4 host ai.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc4 {
    		reverse_proxy localai.localai.svc.cluster.local:8080
    	} 
    		
    	@svc5 host redlib.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc5 {
    		reverse_proxy redlib.redlib.svc.cluster.local:8080
    	} 
    		
    	@svc6 host searxng.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc6 {
    		reverse_proxy searxng.searxng.svc.cluster.local:8080
    	} 
    		
    	@svc7 host jellyfin.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc7 {
    		reverse_proxy jellyfin.jellyfin.svc.cluster.local:8096
    	} 
    		
    	@svc8 host mealie.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc8 {
    		reverse_proxy mealie.mealie.svc.cluster.local:9000
    	} 
    		
    	@svc9 host perses.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc9 {
    		reverse_proxy perses.perses.svc.cluster.local:8080
    	} 
    		
    	@svc10 host vault.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc10 {
    		reverse_proxy vault-ui.vault.svc.cluster.local:8200
    	} 
    		
    	@svc11 host adguard-home.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc11 {
    		reverse_proxy adguard-home.adguard-home.svc.cluster.local:80
    	} 
    		
    	@svc12 host kibana.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc12 {
    		reverse_proxy elastic-stack-eck-kibana-kb-http.elastic-stack.svc.cluster.local:5601
    	} 
    		
    	@svc13 host lidify.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc13 {
    		reverse_proxy lidify.lidify.svc.cluster.local:3030
    	} 
    		
    	@svc14 host glance.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc14 {
    		reverse_proxy glance.glance.svc.cluster.local:8080
    	} 
    		
    	@svc15 host crowdsec.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc15 {
    		reverse_proxy crowdsec-ui-agent.cloud.nathalie-stiefsohn.eu:3000
    	} 
    		
        handle {
            respond "Not Found" 404
        }
    }
    	
