---
apiVersion: v1
kind: ConfigMap
metadata:
  name: caddy-configmap
data:
  Caddyfile: |-
    
    *.cloud.nathalie-stiefsohn.eu {	
    	tls {
            dns hetzner {$API_TOKEN}
            propagation_delay 30s
        }
    	
    	@svc0 host crowdsec.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc0 {
    		reverse_proxy crowdsec-ui-agent.cloud.nathalie-stiefsohn.eu:3000
    	} 
    		
    	@svc1 host adguard-home.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc1 {
    		reverse_proxy adguard-home.adguard-home.svc.cluster.local:80
    	} 
    		
    	@svc2 host affine.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc2 {
    		reverse_proxy affine.affine.svc.cluster.local:3010
    	} 
    		
    	@svc3 host audiomuse.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc3 {
    		reverse_proxy audiomuse-ai.jellyfin.svc.cluster.local:8000
    	} 
    		
    	@svc4 host booklore.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc4 {
    		reverse_proxy booklore.booklore.svc.cluster.local:6060
    	} 
    		
    	@svc5 host kibana.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc5 {
    		reverse_proxy elastic-stack-eck-kibana-kb-http.elastic-stack.svc.cluster.local:5601
    	} 
    		
    	@svc6 host transmission.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc6 {
    		reverse_proxy flood.jellyfin.svc.cluster.local:3000
    	} 
    		
    	@svc7 host code.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc7 {
    		reverse_proxy forgejo-http.forgejo.svc.cluster.local:3000
    	} 
    		
    	@svc8 host glance.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc8 {
    		reverse_proxy glance.glance.svc.cluster.local:8080
    	} 
    		
    	@svc9 host jellyfin.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc9 {
    		reverse_proxy jellyfin.jellyfin.svc.cluster.local:8096
    	} 
    		
    	@svc10 host ai.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc10 {
    		reverse_proxy localai.localai.svc.cluster.local:8080
    	} 
    		
    	@svc11 host mealie.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc11 {
    		reverse_proxy mealie.mealie.svc.cluster.local:9000
    	} 
    		
    	@svc12 host openclarity.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc12 {
    		reverse_proxy openclarity-ui.openclarity.svc.cluster.local:8080
    	} 
    		
    	@svc13 host perses.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc13 {
    		reverse_proxy perses.perses.svc.cluster.local:8080
    	} 
    		
    	@svc14 host redlib.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc14 {
    		reverse_proxy redlib.redlib.svc.cluster.local:8080
    	} 
    		
    	@svc15 host searxng.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc15 {
    		reverse_proxy searxng.searxng.svc.cluster.local:8080
    	} 
    		
    	@svc16 host stash.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc16 {
    		reverse_proxy stash.stash.svc.cluster.local:9999
    	} 
    		
    	@svc17 host matrix.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc17 {
    		reverse_proxy synapse.synapse.svc.cluster.local:8008
    	} 
    		
    	@svc18 host vault.cloud.nathalie-stiefsohn.eu
    	
    	handle @svc18 {
    		reverse_proxy vault-ui.vault.svc.cluster.local:8200
    	} 
    		
        handle {
            respond "Not Found" 404
        }
    }
    	
