---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: caddy
    app.kubernetes.io/version: latest
  name: caddy
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: caddy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: caddy
        app.kubernetes.io/version: latest
    spec:
      containers:
      - image: registry.cloud.nathalie-stiefsohn.eu/caddy-hetzner:latest
        name: caddy
        ports:
        - containerPort: 80
          name: caddy
        volumeMounts:
        - mountPath: /etc/caddy/
          name: caddy-config-volume
        env:
        - name: API_TOKEN
          valueFrom:
            secretKeyRef:
              key: api-token
              name: hetzner-api-token-secret
      - image: netbirdio/netbird:latest
        name: netbird-agent
        env:
        - name: NB_SETUP_KEY
          valueFrom:
            secretKeyRef:
              key: setup-key
              name: netbird-setup-key-vault-secret
        - name: NB_HOSTNAME
          value: Caddy
        - name: NB_MANAGEMENT_URL
          value: https://netbird.nathalie-stiefsohn.eu
        - name: NB_EXTRA_DNS_LABELS
          value: ai,code,jellyfin,mealie,perses,searxng,matrix,vault,booklore,glance,kibana,redlib
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
        securityContext:
          privileged: true
      volumes:
      - name: caddy-config-volume
        configMap:
          name: caddy-configmap
