---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: adguard-home
    app.kubernetes.io/version: v0.107.71
  name: adguard-home
spec:
  selector:
    app.kubernetes.io/name: adguard-home
  ports:
  - name: http-adguard-home
    port: 80
    targetPort: 80
