services:
  crowdsec:
    env_file:
      - "../crowdsec.env"
    image: docker.io/crowdsecurity/crowdsec:latest
    container_name: crowdsec
    environment:
      - GID=1000
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
    volumes:
      - crowdsec-db:/var/lib/crowdsec/data/
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - caddy-logs:/var/log/caddy:ro
    networks: [crowdsec, caddy]
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
  crowdsec-init:
    env_file:
      - "../crowdsec.env"
    image: docker.io/crowdsecurity/crowdsec:latest
    depends_on:
      crowdsec:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c"]
    networks: [crowdsec]
    restart: "no"

volumes:
  crowdsec-db:
