version: "3.4"

services:
  crowdsec:
    env_file:
      - "crowdsec.env"
    image: docker.io/crowdsecurity/crowdsec:latest
    container_name: crowdsec
    environment:
      - GID=1000
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
      - BOUNCER_KEY_CADDY=${CROWDSEC_API_KEY}
      - TRUSTED_IPS=${TRUSTED_IPS}
    volumes:
      - crowdsec-db:/var/lib/crowdsec/data/
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - caddy-logs:/var/log/caddy:ro
    networks: [crowdsec, crowdsec-ui, caddy]
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
  crowdsec-init:
    image: docker.io/crowdsecurity/crowdsec:latest
    depends_on:
      crowdsec:
        condition: service_healthy
    entrypoint: ["/bin/sh", "-c"]
    command: >
      cscli machines add ${CROWDSEC_UI_USER} --password ${CROWDSEC_UI_PASSWORD} -f /dev/null
    networks: [crowdsec]
    restart: "no"

volumes:
  crowdsec-db:
