---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lidify-config-pvc
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 30Gi
  storageClassName: nfs-remote
